mixin theme-chooser()
  //- data/temas.yml
  -
    let themes = temas.themes
  // estilos
  style. 
    div.chooser-active {
      backdrop-filter: blur(0.3rem);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      border-radius:: 2rem;
      position: absolute;
      z-index: 10000;
      height: 100vh;
      left: 0;
      top: 0;
    }

    div.theme-item {
      transform: rotate(45deg);
      min-height: 3rem;
      max-height: 3rem;
      min-width: 3rem;
      max-width: 3rem;
      display: none; 
      /*none, inline-block*/
    }

    div.theme-item > div.bg,
    div.theme-item > div.fg {
      margin: 0;
    }
  // estrutura
  .theme-shadow
    div
      each t in themes
        div.theme-item(title=t.name onclick=`chooseTheme("${t.name}")`)
          div.bg(style=`background-color: ${t.c0};`) &nbsp;
          div.fg(style=`background-color: ${t.c1};`) &nbsp;
  // script
  script(type='application/javascript').
    // initial state
    const theme = localStorage.getItem('theme') || 'stolen from stackoverflow'
    const themeItem = document.querySelector(`.theme-item[title='${theme}']`)
    if(themeItem)   {
      themeItem.style.display = 'block'
      document.querySelector(':root')
        .dataset.theme = theme
    } else {
      document
        .querySelector(`.theme-item`)
        .style.display = 'block'
    }
    // choose theme
    const chooseTheme = name => {
      const panel = document.querySelector('.theme-panel')
      const shadow = document.querySelector('.theme-shadow')
      if(shadow.classList.contains('chooser-active')) {
        document.querySelectorAll('.theme-item').forEach(item => {
          if(item.title === name) {
            document.querySelector(':root').dataset.theme = name
            localStorage.setItem('theme', name);
            item.style.display = 'inline-block'
          } else {
            item.style.display = 'none'
          }
        })
        shadow.classList.remove('chooser-active')
      } else {
        shadow.classList.add('chooser-active')
        document.querySelectorAll('.theme-item').forEach(item => {
          item.style.display = 'inline-block'
        })
      }
    }
