---
layout: main.pug
---
include ./components/avatar-pic.pug
style.
  .block {
    display: inline-block;
    margin-left: 1rem;
  }
  .block div {
    margin-top: 0;
  }  
  div.foto {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .break {
    break-after: page;
  }
  details {
    break-inside: avoid;
  }
div.foto
  h1= curriculum.resume['personal info'].name
.foto
  +avatar-pic('7rem')
i= curriculum.resume['personal info'].motto
p= curriculum.resume['cover letter']
h2 Contact info
each info in Object.keys(curriculum.resume['other contact info']) 
  .block
    a(target="_blank" href=curriculum.resume['other contact info'][info])= info
.break
h2 Skills
each skill in curriculum.resume.skills
  details(open=true)
    summary= Object.keys(skill)[0]
    each item in skill.items
      .block
        div= Object.keys(item)[0]
        div= Object.values(item)[0]
.break
h2 Work Experience
each experience in curriculum.resume.work
  details
    summary
      i= `${experience.position} at `
      a(target="_blank" href=Object.values(experience)[0]) 
        i= `${Object.keys(experience)[0]}`
      i= ` (${experience.period})`
    p= experience.description
    h3 Projects
    each project in experience.projects
      details
        summary= Object.keys(project)[0]
        p= project.description
        h4 Responsibilities
        p= project.responsibilities
    h3 Technologies
    each tech in experience['tech stack']
      .block
        a(target="_blank" href=`http://bing.com?q=${tech}`)= tech
h2 Education
each edu in curriculum.resume.education
  details
    summary
      i= `${edu.type} at `
      a(target="_blank" href=Object.values(edu)[0]) 
        i= `${Object.keys(edu)[0]}`
      i= ` (${edu.period})`
    p= edu.description
h2 Other certifications
each cert in curriculum.resume['other certifications']
  .block
    a(target="_blank" href=Object.values(cert)[0])= Object.keys(cert)[0]
